<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{  url_for('static', filename='js/script.js')}}" async></script>
    <title>Weather Forecast</title>
</head>
<body>
    <div class="wrapper">
        <div class="nav">
            <h1>WeatherWise</h1>
            <ul>
                <li style="cursor: pointer" onclick="getWeather(44.9778, -93.2650), getCity(this)">Minneapolis</li>
                <li style="cursor: pointer" onclick="getWeather(21.315603, -157.858093), getCity(this)">Honolulu</li>
                <li style="cursor: pointer" onclick="getWeather(40.7128, -74.00597), getCity(this)" >New York</li>
                <li style="cursor: pointer" onclick="getWeather(35.652832, 139.839478), getCity(this)" >Tokyo</li>
            </ul>
        </div>
        <div class="container">
            <div class="top">
                <h2 class="city">Minneapolis</h2>
                <p>show temperature in
                <select class="selectTemp" name="selectTemp" onchange="convertTemp(this)">
                    <option>°F</option>
                    <option>°C</option>
                </select>
                </p>
            </div>
            <div class="content">
                <div class="day today">
                    <h3>Today</h3>
                    <img class="image" src="{{url_for('static', filename='assets/some_rain.png')}}" alt="some_rain">
                    <p class="description">some rain</p>
                    <div class="temperature today">
                        <p class="high">24°</p>
                        <p class="low">18°</p>
                    </div>
                </div>
                <div class="day">
                    <h3>Tomorrow</h3>
                    <img class="image" src="{{url_for('static', filename='assets/some_sun.png')}}" alt="some_sun">
                    <p class="description">clear</p>
                    <div class="temperature">
                        <p class="high">27°</p>
                        <p class="low">19°</p>
                    </div>
                </div>
                <div class="day">
                    <h3 class="day_name">Friday</h3>
                    <img class="image" src="{{url_for('static', filename='assets/some_clouds.png')}}" alt="some_clouds">
                    <p class="description">clouds</p>
                    <div class="temperature">
                        <p class="high">21°</p>
                        <p class="low">16°</p>
                    </div>
                </div>
                <div class="day">
                    <h3 class="day_name">Saturday</h3>
                    <img class="image" src="{{url_for('static', filename='assets/some_sun.png')}}" alt="some_sun">
                    <p class="description">clear</p>
                    <div class="temperature">
                        <p class="high">26°</p>
                        <p class="low">21°</p>
                    </div>
                </div>
            </div>
            <div id="cookie" onclick="removeCookie()">
                <div class="left">
                    <img src="{{url_for('static', filename='assets/cookie.png')}}" alt="cookie">
                </div>
                <div class="middle">
                    <p><strong>Welcome to our site!</strong></p>
                <p>This site doesn't use any cookies, but if we choose to do so in the future, we'll let you know!</p>
                </div>
                <div class="right">
                    <button>Okay</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>